* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #101113;
    background: #fcc33f;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    background: #f4efef;
}

img {
    border-radius: 50%;
}

form {
    display: grid;
    grid-column: auto;
}

form div {
    display: grid;
    grid-column-start: auto;
    margin: 3px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

form div input {
    padding: 2px;
    border-radius: 4px;
}

input[type="button"] {
    margin: 5px;
    padding: 2px 4px;
    border-radius: 4px;
    cursor: pointer;
    background: #fcc33f;
}

input[type="button"]:hover {
    background: #8bf76a;
}